# pip install -r requirements.txt

# Common dependencies
numpy
pandas
seaborn
matplotlib
opencv-python
scikit-learn
imbalanced-learn
Pillow

# TensorFlow - Install based on platform
# For macOS (specifically Apple Silicon)
tensorflow-macos; sys_platform == "darwin"
tensorflow-metal; sys_platform == "darwin"
coremltools; sys_platform == "darwin"

# For PCs with Nvidia GPUs
tensorflow[and-cuda]; sys_platform == "linux" or sys_platform == "win32"  # For Nvidia GPUs
