# pip install -r helper_tools/requirements.txt

# Common dependencies
numpy
pandas
seaborn
matplotlib
opencv-python
scikit-learn
imbalanced-learn
Pillow
psutil
GPUtil

# TensorFlow - Install based on platform
# For macOS (specifically Apple Silicon)
tensorflow-macos; sys_platform == "darwin"
tensorflow-metal; sys_platform == "darwin"
coremltools; sys_platform == "darwin"

# For PCs with Nvidia GPUs
tensorflow[and-cuda]; sys_platform == "linux"
tensorflow[and-cuda]; sys_platform == "win32" 

# Needed for all platforms
tensorflow
